In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame([[1,6,8], [5,2,6], [6,7,8], [33,44,55]], columns=('aca','ici', 'ucu'))

In [4]:
df

   aca  ici  ucu
0    1    6    8
1    5    2    6
2    6    7    8
3   33   44   55

In [5]:
# manipulasi data
df['aca']

0     1
1     5
2     6
3    33
Name: aca, dtype: int64

In [6]:
list(df['aca'])

[1, 5, 6, 33]

In [7]:
df

   aca  ici  ucu
0    1    6    8
1    5    2    6
2    6    7    8
3   33   44   55

In [33]:
df['aca'].min()

1

In [9]:
df['aca'].max()

33

In [10]:
df['aca'].std()

14.660036380127666

In [11]:
df['aca'].describe()

count     4.000000
mean     11.250000
std      14.660036
min       1.000000
25%       4.000000
50%       5.500000
75%      12.750000
max      33.000000
Name: aca, dtype: float64

In [12]:
df['aca'].index

RangeIndex(start=0, stop=4, step=1)

In [13]:
df['aca'].values

array([ 1,  5,  6, 33], dtype=int64)

In [14]:
df_csv = pd.read_csv("california_housing_test.csv")

In [16]:
df_csv.head() # 5 record pertama

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [17]:
df_csv['population'].describe()

count     3000.000000
mean      1402.798667
std       1030.543012
min          5.000000
25%        780.000000
50%       1155.000000
75%       1742.750000
max      11935.000000
Name: population, dtype: float64

In [18]:
len(df_csv)

3000

In [19]:
# slicing, tidak bisa pakai index
df_csv[0]

KeyError: 0

In [20]:
# contoh slicing yang benar
df_csv.iloc[0:3, :] # diambil index/record 0 sampai 2 atau 3 data dari semua column

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0

In [21]:
df_csv.iloc[0:3, 0:2]

   longitude  latitude
0    -122.05     37.37
1    -118.30     34.26
2    -117.81     33.78

In [22]:
df_csv.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [23]:
df_csv = df_csv[['total_rooms', 'population', 'median_income']]

In [24]:
df_csv

      total_rooms  population  median_income
0          3885.0      1537.0         6.6085
1          1510.0       809.0         3.5990
2          3589.0      1484.0         5.7934
3            67.0        49.0         6.1359
4          1241.0       850.0         2.9375
...           ...         ...            ...
2995       1450.0      1258.0         1.1790
2996       5257.0      3496.0         3.3906
2997        956.0       693.0         2.2895
2998         96.0        46.0         3.2708
2999       1765.0       753.0         8.5608

[3000 rows x 3 columns]

In [28]:
df_csv['total'] = df_csv['population'] + df_csv['median_income']
df_csv.head()

<ipython-input-28-ad4597b45bb5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_csv['total'] = df_csv['population'] + df_csv['median_income']

   total_rooms  population  median_income      total
0       3885.0      1537.0         6.6085  1543.6085
1       1510.0       809.0         3.5990   812.5990
2       3589.0      1484.0         5.7934  1489.7934
3         67.0        49.0         6.1359    55.1359
4       1241.0       850.0         2.9375   852.9375

In [29]:
df_csv.loc[df_csv['population'] < 1000]

      total_rooms  population  median_income     total
1          1510.0       809.0         3.5990  812.5990
3            67.0        49.0         6.1359   55.1359
4          1241.0       850.0         2.9375  852.9375
5          1018.0       663.0         1.6635  664.6635
6          1009.0       604.0         1.6641  605.6641
...           ...         ...            ...       ...
2993       2088.0       673.0         5.1048  678.1048
2994        931.0       516.0         5.5867  521.5867
2997        956.0       693.0         2.2895  695.2895
2998         96.0        46.0         3.2708   49.2708
2999       1765.0       753.0         8.5608  761.5608

[1200 rows x 4 columns]

In [30]:
len(df_csv.loc[df_csv['population'] < 1000])

1200

In [31]:
# dilakukan drop/membuang data yang ada duplikat (jika ada)
df_csv.drop_duplicates()

      total_rooms  population  median_income      total
0          3885.0      1537.0         6.6085  1543.6085
1          1510.0       809.0         3.5990   812.5990
2          3589.0      1484.0         5.7934  1489.7934
3            67.0        49.0         6.1359    55.1359
4          1241.0       850.0         2.9375   852.9375
...           ...         ...            ...        ...
2995       1450.0      1258.0         1.1790  1259.1790
2996       5257.0      3496.0         3.3906  3499.3906
2997        956.0       693.0         2.2895   695.2895
2998         96.0        46.0         3.2708    49.2708
2999       1765.0       753.0         8.5608   761.5608

[3000 rows x 4 columns]