# Series

**_Objek satu dimensi_**

In [6]:
import pandas as pd

In [2]:
x = pd.Series([6, 3, 4, 6])
x

0    6
1    3
2    4
3    6
dtype: int64

In [3]:
# ganti sumbu atau index dari series
## cara pertama
x.index = ['a', 'b', 'c', 'd']
x

a    6
b    3
c    4
d    6
dtype: int64

In [4]:
## cara kedua
x = pd.Series([6, 3, 4, 6], index=['a', 'b', 'c', 'd'])
x

a    6
b    3
c    4
d    6
dtype: int64

In [5]:
# check tipe data
type(x)

pandas.core.series.Series

#### Note: jumlah index harus sama dengan jumlah data.

# DataFrame

**_Objek 2 dimensi_**

**Note**: `DataFrame tempat menyimpan data dengan lebih terstruktur. dataframe memiliki 2 index, yaitu index baris dan index columns. Dalam satu column dataframe harus memiliki tipe data yang sama. tapi antar columnnya dataframe bisa memiliki jenis data yang berbeda.`

In [7]:
df = pd.DataFrame({'tipe_int': [50, 21], 'tipe_string': ['a', 'b']})
df

   tipe_int tipe_string
0        50           a
1        21           b

In [8]:
# check tipe data
type(df)

pandas.core.frame.DataFrame

In [9]:
!dir

 Volume in drive D is New Volume
 Volume Serial Number is C008-E6DD

 Directory of D:\Study\SanberCode\Python - Data Science\Pekan 2\hari 1

06/10/2020  00:34    <DIR>          .
06/10/2020  00:34    <DIR>          ..
06/10/2020  00:26    <DIR>          .ipynb_checkpoints
06/10/2020  00:25         3.192.560 diamonds-1.csv
06/10/2020  00:23            30.456 Numpy Pandas.ipynb
06/10/2020  00:34             4.956 Pandas Introduction.ipynb
06/10/2020  00:25             3.554 Tugas Hari 1 Pekan 2.ipynb
               4 File(s)      3.231.526 bytes
               3 Dir(s)  265.323.917.312 bytes free

# Membaca data dari File

In [10]:
# membaca file dari csv
df_from_csv = pd.read_csv("diamonds-1.csv")
df_from_csv

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

# Pemeriksaan sederhana tentang Karakteristik Data

Pandas memiliki beberapa method untuk memahami gambaran besar karakteristik dari data kita. diantaranya adalah:

- head()
- tail()
- info()
- describe()

In [12]:
df_from_csv.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [13]:
df_from_csv.tail()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [14]:
df_from_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

In [15]:
df_from_csv.describe()

,Unnamed: 0,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,26970.500000,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,15571.281097,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,1.000000,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,13485.750000,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,26970.500000,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,40455.250000,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,53940.000000,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

# Series vs List

In [1]:
obj_list = [1, 2, 3, 4, 5]

In [11]:
import pandas as pd

obj_series = pd.Series(obj_list)

In [3]:
obj_list

[1, 2, 3, 4, 5]

In [12]:
obj_series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
# mengambil value-nya saja dari objek Series
obj_series.values

array([1, 2, 3, 4, 5], dtype=int64)

In [6]:
# mengambil index-nya saja dari objek Series
obj_series.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
# melakukan slicing/indexing series sama seperti list
obj_list[1:4]

[2, 3, 4]

In [8]:
obj_series[1:4]

1    2
2    3
3    4
dtype: int64

In [15]:
obj_series.index = ['a', 'b', 'c', 'd', True]

In [16]:
obj_series

a       1
b       2
c       3
d       4
True    5
dtype: int64

In [20]:
obj_series[True]

5

# Series vs Dictionary

In [21]:
obj_dict = {
    'a': 1,
    'b': 2,
    'c': 3,
    'd': 4,
    True: 5
}

In [22]:
obj_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4, True: 5}

In [23]:
obj_series

a       1
b       2
c       3
d       4
True    5
dtype: int64

In [24]:
obj_series['c']

3

In [25]:
obj_dict['c']

3

In [26]:
# perbedaanya untuk dictionary tidak bisa dilakukan slicing seperti di list, contoh
obj_list[1:3]

[2, 3]

In [27]:
obj_series['a':'c']

a    1
b    2
c    3
dtype: int64

In [28]:
# sedangkan di dictionary tidak bisa
obj_dict['a':'c']

TypeError: unhashable type: 'slice'

# Pandas DataFrame: Struktur dan Membuat DataFrame

- Mengenal Struktur Data dari DataFrame
- Membuat suatu dataframe from scratch
- Meload data dari suatu file

In [29]:
# satu record -> menunjukkan suatu objek observasi
# satu column -> menunjukkan suatu objek variabel

import pandas as pd

In [32]:
president_election = {
    'Calon_Presiden': ['Sandiaga Uni', 'Jokowi', "Prabowo"],
    'Jumlah_Voting': [10, 10.01, 9.09]
}

In [33]:
pd.DataFrame(president_election)

  Calon_Presiden  Jumlah_Voting
0   Sandiaga Uni          10.00
1         Jokowi          10.01
2        Prabowo           9.09

In [35]:
!dir

 Volume in drive D is New Volume
 Volume Serial Number is C008-E6DD

 Directory of D:\Study\SanberCode\Python - Data Science\Pekan 2\hari 1

06/10/2020  07:49    <DIR>          .
06/10/2020  07:49    <DIR>          ..
06/10/2020  00:26    <DIR>          .ipynb_checkpoints
06/10/2020  00:25         3.192.560 diamonds-1.csv
06/10/2020  01:00         3.192.560 diamonds.csv
06/10/2020  00:23            30.456 Numpy Pandas.ipynb
06/10/2020  07:49            38.953 Pandas Introduction.ipynb
06/10/2020  00:25             3.554 Tugas Hari 1 Pekan 2.ipynb
               5 File(s)      6.458.083 bytes
               3 Dir(s)  265.320.689.664 bytes free

In [38]:
df2 = pd.read_csv('diamonds.csv')

In [40]:
df2

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [39]:
df2.index

RangeIndex(start=0, stop=53940, step=1)

In [42]:
# ubah indeksnya dari dataframe
df2.index = df2['Unnamed: 0']
df2

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
Unnamed: 0,,,,,,,,,,,
1,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
2,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
3,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
4,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
5,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53936,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53937,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53938,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53939,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53940,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [43]:
df2.columns

Index(['Unnamed: 0', 'carat', 'cut', 'color', 'clarity', 'depth', 'table',
       'price', 'x', 'y', 'z'],
      dtype='object')

In [44]:
# ubah dataframe ke bentuk numpy, untuk setiap row datanya
df2.values

array([[1, 0.23, 'Ideal', ..., 3.95, 3.98, 2.43],
       [2, 0.21, 'Premium', ..., 3.89, 3.84, 2.31],
       [3, 0.23, 'Good', ..., 4.05, 4.07, 2.31],
       ...,
       [53938, 0.7, 'Very Good', ..., 5.66, 5.68, 3.56],
       [53939, 0.86, 'Premium', ..., 6.15, 6.12, 3.74],
       [53940, 0.75, 'Ideal', ..., 5.83, 5.87, 3.64]], dtype=object)

In [48]:
type(df2.values)

numpy.ndarray

In [47]:
df2.values.ndim

2

# Pandas Foundation (Membuat dan Men-Load Data)

1. Meload data dari file -> excel. csv
2. Membuat data from scratch -> dict
3. Labeling index data
4. Menambahkan column, mengisikan value terhadap value tersebut

In [49]:
import pandas as pd

In [51]:
!dir

 Volume in drive D is New Volume
 Volume Serial Number is C008-E6DD

 Directory of D:\Study\SanberCode\Python - Data Science\Pekan 2\hari 1

06/10/2020  08:12    <DIR>          .
06/10/2020  08:12    <DIR>          ..
06/10/2020  00:26    <DIR>          .ipynb_checkpoints
27/04/2020  07:11             9.687 ari.xlsx
06/10/2020  00:25         3.192.560 diamonds-1.csv
06/10/2020  01:00         3.192.560 diamonds.csv
06/10/2020  00:23            30.456 Numpy Pandas.ipynb
06/10/2020  08:11            59.804 Pandas Introduction.ipynb
06/10/2020  00:25             3.554 Tugas Hari 1 Pekan 2.ipynb
               6 File(s)      6.488.621 bytes
               3 Dir(s)  265.320.656.896 bytes free

In [52]:
# data berbentuk excel
help(pd.read_excel)

Help on function read_excel in module pandas.io.excel._base:

read_excel(io, sheet_name=0, header=0, names=None, index_col=None, usecols=None, squeeze=False, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, keep_default_na=True, verbose=False, parse_dates=False, date_parser=None, thousands=None, comment=None, skipfooter=0, convert_float=True, mangle_dupe_cols=True, **kwds)
    Read an Excel file into a pandas DataFrame.

    Supports `xls`, `xlsx`, `xlsm`, `xlsb`, and `odf` file extensions
    read from a local filesystem or URL. Supports an option to read
    a single sheet or a list of sheets.

    Parameters
    ----------
    io : str, bytes, ExcelFile, xlrd.Book, path object, or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: ``file://localhost/path/to/table.xlsx``.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method,
        such as a file handler (e.g. via builtin ``open`` function)
        or ``StringIO``.
    sheet_name : str, int, list, or None, default 0
        Strings are used for sheet names. Integers are used in zero-indexed
        sheet positions. Lists of strings/integers are used to request
        multiple sheets. Specify None to get all sheets.

        Available cases:

        * Defaults to ``0``: 1st sheet as a `DataFrame`
        * ``1``: 2nd sheet as a `DataFrame`
        * ``"Sheet1"``: Load sheet with name "Sheet1"
        * ``[0, 1, "Sheet5"]``: Load first, second and sheet named "Sheet5"
          as a dict of `DataFrame`
        * None: All sheets.

    header : int, list of int, default 0
        Row (0-indexed) to use for the column labels of the parsed
        DataFrame. If a list of integers is passed those row positions will
        be combined into a ``MultiIndex``. Use None if there is no header.
    names : array-like, default None
        List of column names to use. If file contains no header row,
        then you should explicitly pass header=None.
    index_col : int, list of int, default None
        Column (0-indexed) to use as the row labels of the DataFrame.
        Pass None if there is no such column.  If a list is passed,
        those columns will be combined into a ``MultiIndex``.  If a
        subset of data is selected with ``usecols``, index_col
        is based on the subset.
    usecols : int, str, list-like, or callable default None
        * If None, then parse all columns.
        * If str, then indicates comma separated list of Excel column letters
          and column ranges (e.g. "A:E" or "A,C,E:F"). Ranges are inclusive of
          both sides.
        * If list of int, then indicates list of column numbers to be parsed.
        * If list of string, then indicates list of column names to be parsed.

          .. versionadded:: 0.24.0

        * If callable, then evaluate each column name against it and parse the
          column if the callable returns ``True``.

        Returns a subset of the columns according to behavior above.

          .. versionadded:: 0.24.0

    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `object` to preserve data as stored in Excel and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : str, default None
        If io is not a buffer or path, this must be set to identify io.
        Acceptable values are None, "xlrd", "openpyxl" or "odf".
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can
        either be integers or column labels, values are functions that take one
        input argument, the Excel cell content, and return the transformed
        content.
    true_values : list, default None
        Values to consider as True.
    false_values : list, default None
        Values to consider as False.
    skiprows : list-like
        Rows to skip at the beginning (0-indexed).
    nrows : int, default None
        Number of rows to parse.

        .. versionadded:: 0.23.0

    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values. By default the following values are interpreted
        as NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    parse_dates : bool, list-like, or dict, default False
        The behavior is as follows:

        * bool. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index contains an unparseable date, the entire column or
        index will be returned unaltered as an object data type. If you don`t want to
        parse some cells as date just change their type in Excel to "Text".
        For non-standard datetime parsing, use ``pd.to_datetime`` after ``pd.read_excel``.

        Note: A fast-path exists for iso8601-formatted dates.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    thousands : str, default None
        Thousands separator for parsing string columns to numeric.  Note that
        this parameter is only necessary for columns stored as TEXT in Excel,
        any numeric columns will automatically be parsed, regardless of display
        format.
    comment : str, default None
        Comments out remainder of line. Pass a character or characters to this
        argument to indicate comments in the input file. Any data between the
        comment string and the end of the current line is ignored.
    skipfooter : int, default 0
        Rows at the end to skip (0-indexed).
    convert_float : bool, default True
        Convert integral floats to int (i.e., 1.0 --> 1). If False, all numeric
        data will be read in as floats: Excel stores all numbers as floats
        internally.
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    **kwds : optional
            Optional keyword arguments can be passed to ``TextFileReader``.

    Returns
    -------
    DataFrame or dict of DataFrames
        DataFrame from the passed in Excel file. See notes in sheet_name
        argument for more information on when a dict of DataFrames is returned.

    See Also
    --------
    to_excel : Write DataFrame to an Excel file.
    to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    The file can be read using the file name as string or an open file object:

    >>> pd.read_excel('tmp.xlsx', index_col=0)  # doctest: +SKIP
           Name  Value
    0   string1      1
    1   string2      2
    2  #Comment      3

    >>> pd.read_excel(open('tmp.xlsx', 'rb'),
    ...               sheet_name='Sheet3')  # doctest: +SKIP
       Unnamed: 0      Name  Value
    0           0   string1      1
    1           1   string2      2
    2           2  #Comment      3

    Index and header can be specified via the `index_col` and `header` arguments

    >>> pd.read_excel('tmp.xlsx', index_col=None, header=None)  # doctest: +SKIP
         0         1      2
    0  NaN      Name  Value
    1  0.0   string1      1
    2  1.0   string2      2
    3  2.0  #Comment      3

    Column types are inferred but can be explicitly specified

    >>> pd.read_excel('tmp.xlsx', index_col=0,
    ...               dtype={'Name': str, 'Value': float})  # doctest: +SKIP
           Name  Value
    0   string1    1.0
    1   string2    2.0
    2  #Comment    3.0

    True, False, and NA values, and thousands separators have defaults,
    but can be explicitly specified, too. Supply the values you would like
    as strings or lists of strings!

    >>> pd.read_excel('tmp.xlsx', index_col=0,
    ...               na_values=['string1', 'string2'])  # doctest: +SKIP
           Name  Value
    0       NaN      1
    1       NaN      2
    2  #Comment      3

    Comment lines in the excel input file can be skipped using the `comment` kwarg

    >>> pd.read_excel('tmp.xlsx', index_col=0, comment='#')  # doctest: +SKIP
          Name  Value
    0  string1    1.0
    1  string2    2.0
    2     None    NaN

In [54]:
# data berbentuk excel
df_excel = pd.read_excel('ari.xlsx')

In [56]:
# meload data berbentuk csv
df_csv = pd.read_csv('diamonds.csv')

In [60]:
# membuat data from scratch -> dict
obj_key = {
    'DBD': [100, 200, 250, 300],
    'Corona': [300, 500, 700, 1000]
}

In [62]:
penyakit = pd.DataFrame(obj_key)

In [63]:
penyakit

   DBD  Corona
0  100     300
1  200     500
2  250     700
3  300    1000

In [68]:
# membuat column baru, dan mengisikan value
penyakit['malaria'] = [10, 20, 30, 40] # note: jumlah datanya harus sama, seperti jumlah baris pada data sebelumnya

In [69]:
penyakit

   DBD  Corona  malaria
0  100     300       10
1  200     500       20
2  250     700       30
3  300    1000       40

In [70]:
# labeling index
penyakit.columns

Index(['DBD', 'Corona', 'malaria'], dtype='object')

In [71]:
penyakit.index

RangeIndex(start=0, stop=4, step=1)

In [72]:
# mengubah label column, ditukar antar label
penyakit.columns = ['Corona', 'DBD', 'malaria']

In [73]:
penyakit # salah satu cara untuk mengubah label dari indeks

   Corona   DBD  malaria
0     100   300       10
1     200   500       20
2     250   700       30
3     300  1000       40

In [74]:
# mengubah label indeks
penyakit.index = ['hari1', 'hari2', 'hari3', 'hari4']

In [75]:
penyakit

       Corona   DBD  malaria
hari1     100   300       10
hari2     200   500       20
hari3     250   700       30
hari4     300  1000       40