<h2>Soal 1: Membuat Objek DataFrames</h2>

- Buatlah objek dataframes dari objek dictionary, Bebas!

In [ ]:
# Membuat dataframes dari dictionary
import pandas as pd
obj_dict1 = {'Nama': ['Ari Wilyan', 'Jiddy', 'Ryan', 'Yudha', 'Wachid'], 'Asal': ['Bandar Lampung', 'Jakarta', 'Tanggerang', 'Bukit Tinggi', 'Magelang'], 'Angka_Favorit': [3, 5, 7, 17, 10]}
df = pd.DataFrame(obj_dict1)
df

         Nama            Asal  Angka_Favorit
0  Ari Wilyan  Bandar Lampung              3
1       Jiddy         Jakarta              5
2        Ryan      Tanggerang              7
3       Yudha    Bukit Tinggi             17
4      Wachid        Magelang             10

<h2>Soal 2: Membaca data dari file</h2>

Download file bernama [diamonds.csv](https://drive.google.com/uc?export=download&id=1qQiM9utQUThTPq8jk8stPMh_y2zfqYOd), kemudian baca data tersebut dan assign ke dalam suatu variabel kemudian print.

In [ ]:
# Membaca data dan memasukannya kedalam suatu variabel
!wget "https://blog.sanbercode.com/wp-content/uploads/2020/04/diamonds-1.csv"
df_diamonds = pd.read_csv("/content/diamonds-1.csv")
df_diamonds

--2020-10-06 02:50:48--  https://blog.sanbercode.com/wp-content/uploads/2020/04/diamonds-1.csv
Resolving blog.sanbercode.com (blog.sanbercode.com)... 45.13.133.160
Connecting to blog.sanbercode.com (blog.sanbercode.com)|45.13.133.160|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3192560 (3.0M) [text/csv]
Saving to: ‘diamonds-1.csv.1’

diamonds-1.csv.1    100%[===================>]   3.04M  1.22MB/s    in 2.5s

2020-10-06 02:50:52 (1.22 MB/s) - ‘diamonds-1.csv.1’ saved [3192560/3192560]

       Unnamed: 0  carat        cut color  ... price     x     y     z
0               1   0.23      Ideal     E  ...   326  3.95  3.98  2.43
1               2   0.21    Premium     E  ...   326  3.89  3.84  2.31
2               3   0.23       Good     E  ...   327  4.05  4.07  2.31
3               4   0.29    Premium     I  ...   334  4.20  4.23  2.63
4               5   0.31       Good     J  ...   335  4.34  4.35  2.75
...           ...    ...        ...   ...  ...   ...   ...   ...   ...
53935       53936   0.72      Ideal     D  ...  2757  5.75  5.76  3.50
53936       53937   0.72       Good     D  ...  2757  5.69  5.75  3.61
53937       53938   0.70  Very Good     D  ...  2757  5.66  5.68  3.56
53938       53939   0.86    Premium     H  ...  2757  6.15  6.12  3.74
53939       53940   0.75      Ideal     D  ...  2757  5.83  5.87  3.64

[53940 rows x 11 columns]

Expected Result:

![alt text](https://drive.google.com/uc?id=1BvgM5mJEVfj0fllrjkBfQwn0QIFkry_t)

<h2>Soal 3: DataFrame vs Series</h2>

- Apa perbedaan Series dengan list dan dictionary
- Apa perbedaan dataframe dan series
- Buatlah suatu data series

Jawab: 
- Perbedaan **Series dengan list**: output yang dihasilkan dari list adalah rentetan nilai/value-nya saja, sedangkan untuk Series selain ditampilkan nilai/value-nya juga ditampilkan index dari nilainya tersebut. Perbedaan lainnya dari Series dan list, Series bisa dimodifikasi indeksnya dengan apapun, tidak harus integer, bisa di-set indeksnya dengan string misalnya, sedangkan di list, untuk indeks sudah di-set default tidak bisa diganti dengan nilai numerik integer.
Sedangkan perbedaan untuk **Series dengan dictionary**: bisa dibilang Series dan dictionary mirip, kenapa mirip karena jika di Series terdapat indeks-nya yang bisa dimodifikasi sedangkan di dictionary terdapat key. Key inilah yang bisa dibilang mirip dengan Series, dimana untuk di Series, key tersebut sebagai indeks. Untuk **perbedaanya**, series bisa dilakukan slicing untuk diambil value yang diinginkan seperti pada list, namun di dictionary hal ini tidak berlaku. Dictionary tidak bisa dilakukan slicing. Sehingga **simpulannya untuk Series**, penggabungan dari dictionary dan list sehingga Series bisa lebih powerfull dari keduanya.

- Perbedaan **dataframe dan series**: perbedaannya dari Series dan DataFrame ini terletak pada strukturnya, attribute dan juga method-method yang mereka miliki, untuk perbedaan strukturnya adalah sebagai berikut :
 - Series adalah objek 1 dimensi
 - DataFrame adalah suatu objek 2 dimensi, mirip seperti tabel

In [ ]:
# code here
## contoh data series
obj_series = pd.Series([i for i in range(10)])
obj_series

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

<h2>Soal 4: Pemeriksaan Data Sederhana</h2>

Di soal no 2 kamu telah membaca data tentang diamonds. pada soal ini cobalah suatu metode dari pandas untuk mengetahui beberapa data pertama dan beberapa data terakhir. kemudian sebutkan nilai dari:
- baris pertama dari column price
- baris terakhir dari column color

tunjukan cara kalian menemukan nilai tersebut di block di bawah ini.

In [ ]:
# code here
## beberapa data pertama (contoh disini, diambil 5 data pertama)
df_diamonds.head()

   Unnamed: 0  carat      cut color clarity  ...  table  price     x     y     z
0           1   0.23    Ideal     E     SI2  ...   55.0    326  3.95  3.98  2.43
1           2   0.21  Premium     E     SI1  ...   61.0    326  3.89  3.84  2.31
2           3   0.23     Good     E     VS1  ...   65.0    327  4.05  4.07  2.31
3           4   0.29  Premium     I     VS2  ...   58.0    334  4.20  4.23  2.63
4           5   0.31     Good     J     SI2  ...   58.0    335  4.34  4.35  2.75

[5 rows x 11 columns]

In [ ]:
# code here
## beberapa data terakhir (contoh disini, diambil 5 data terakhir)
df_diamonds.tail()

       Unnamed: 0  carat        cut color  ... price     x     y     z
53935       53936   0.72      Ideal     D  ...  2757  5.75  5.76  3.50
53936       53937   0.72       Good     D  ...  2757  5.69  5.75  3.61
53937       53938   0.70  Very Good     D  ...  2757  5.66  5.68  3.56
53938       53939   0.86    Premium     H  ...  2757  6.15  6.12  3.74
53939       53940   0.75      Ideal     D  ...  2757  5.83  5.87  3.64

[5 rows x 11 columns]

In [ ]:
# nilai untuk baris pertama dari column price
df_diamonds['price'][0]

326

In [ ]:
# nilai untuk baris terakhir dari column color
df_diamonds['color'][len(df_diamonds)-1]

'D'

<h2>Soal 5: Deskriptif Statistik</h2>

Jelaskan apa itu deskriptis statistik!

Jawab:

**Deskriptif Statistik** atau **_Statistika deskriptif_** merupakan suatu metode yang berhubungan dengan pengumpulan atau penyajian data sampai memberi informasi yang berguna.

Untuk contoh dari statistika deskriptif sendiri antara lain yaitu:
- tabel
- diagram
- grafik
- besaran-besaran lain dalam majalah dan koran-koran.

Dengan menggunakan Statistika deskriptif, berbagai kumpulan data bisa tersaji dengan ringkas dan juga rapi serta mampu memberikan informasi inti dari kumpulan data yang ada.

Informasi yang di dapatkan yang berasal dari statistika deskriptif ini antara lain ukuran pemusatan data, ukuran penyebaran data, dan juga kecenderungan suatu gugus data.

Penyajian data dalam statistika deskriptif bisa dalam bentuk grafis atau numerik.

Penyajian Data Bentuk Grafis antara lain:

- Histogram
- Pie Chart
- Ogive
- Poligon
- Diagram Batang Daun (Stem and Leaf)

Penyajian data secara numerik mempunyai beberapa bentuk, diantaranya yakni:
- Central Tredency
- Fractile
- Skewness
- Pengukuran Keruncingan
- Dispersion atau pencaran

<h2>Soal 6: Practice Deskriptif Statistik</h2>

- Gunakan suatu metode dari pandas untuk mengetahui deskriptif statistik dari suatu data
- Berapa nilai rata-rata dari column price
- Berapa nilai standar deviasi dari column depth
- Berapa nilai maximum dari column carat

In [ ]:
# code here
print("Nilai rata-rata dari column price: {}".format(df_diamonds['price'].mean()))
print("Nilai standar deviasi dari column depth: {}".format(df_diamonds['depth'].std()))
print("Nilai maximum dari column carat: {}".format(df_diamonds['carat'].max()))

Nilai rata-rata dari column price: 3932.799721913237
Nilai standar deviasi dari column depth: 1.4326213188337733
Nilai maximum dari column carat: 5.01

Jawab: