## Indexing and Transformation

- Data Selection and Indexing in Series
    - Series as Dictionary
    - Series As Array
        - Slicing -> By Explisit or Implisit Index
        - Masking/Filtering
        - Multi Select Indexis
    - iloc -> indexing or slicing with implisit index
    - loc -> indexing or slicing with explicit index
- Data Selection and Indexing in DataFrame
    - Dictionary-Style Indexing
    - Attributes-Style Access
    - access all values only
    - loc
    - iloc
    - Masking/Filtering
- Transform
    - Dataframe apply method

### Series

In [25]:
obj_series = pd.Series([0.1, 0.4, 0.7, 1], index=['a', 'b', 'c', 'd'])

In [26]:
obj_series

a    0.1
b    0.4
c    0.7
d    1.0
dtype: float64

### Series as dictionary

In [7]:
obj_series.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [8]:
obj_series.values

array([0.1, 0.4, 0.7, 1. ])

In [9]:
'a' in obj_series

True

### Series as array

In [ ]:
- Slicing, masking, MultiSelect Index

In [ ]:
- Implicit Index
- Explicit Index

In [22]:
# slicing dengan explicit index
obj_series[1:3]

1    0.4
2    0.7
dtype: float64

In [11]:
# slicing dengan implicit index
obj_series[:3]

a    0.1
b    0.4
c    0.7
dtype: float64

In [13]:
# masking/filtering
obj_series[obj_series > 0.5]

c    0.7
d    1.0
dtype: float64

In [15]:
obj_series[['a', 'b', 'c']]

a    0.1
b    0.4
c    0.7
dtype: float64

 loc dan iloc
 
 loc itu mengakses suatu data berdasarkan explicit indexnya
 
 iloc itu mengakses suatu data berdasarkan implicit index

In [23]:
obj_series.iloc[:3]

0    0.1
1    0.4
2    0.7
dtype: float64

In [24]:
obj_series.loc[:3]

0    0.1
1    0.4
2    0.7
3    1.0
dtype: float64

## DataFrame as Dictionary

In [38]:
df = pd.DataFrame({'pop':[1, 4, 6, 8],
                  'kota':['Bandung', 'Garut', 'Jakarta', 'Solo']})

In [39]:
df

   pop     kota
0    1  Bandung
1    4    Garut
2    6  Jakarta
3    8     Solo

In [40]:
df[['pop']]

   pop
0    1
1    4
2    6
3    8

In [41]:
type(df['pop'])

pandas.core.series.Series

In [34]:
type(df[['populasi']])

pandas.core.frame.DataFrame

In [35]:
df.populasi

0    1
1    4
2    6
3    8
Name: populasi, dtype: int64

In [37]:
df['populasi'] is df.populasi

True

In [43]:
df.pop

<bound method NDFrame.pop of    pop     kota
0    1  Bandung
1    4    Garut
2    6  Jakarta
3    8     Solo>

## DataFrame as 2 Dimensinal Array

In [ ]:
- Filtering
- loc , iloc

In [44]:
df.values

array([[1, 'Bandung'],
       [4, 'Garut'],
       [6, 'Jakarta'],
       [8, 'Solo']], dtype=object)

In [53]:
df[(df['pop']>5) & (df.kota.str.endswith('a'))]

   pop     kota
2    6  Jakarta

In [54]:
df

   pop     kota
0    1  Bandung
1    4    Garut
2    6  Jakarta
3    8     Solo

In [ ]:
# iloc mengakses data dengan implicit index
# loc mengakses data dengan explicit index

In [60]:
df.iloc[1:3, 0]

1    4
2    6
Name: pop, dtype: int64

In [63]:
df.loc[1:3, ['pop', 'kota']]

   pop     kota
1    4    Garut
2    6  Jakarta
3    8     Solo

In [64]:
df.apply?

In [65]:
def kali_sejuta(x):
    return x*1000000

In [67]:
df['pop_kali_sejuta']=df['pop'].apply(kali_sejuta)

In [68]:
df

   pop     kota  pop_kali_sejuta
0    1  Bandung          1000000
1    4    Garut          4000000
2    6  Jakarta          6000000
3    8     Solo          8000000

In [ ]:
df['pop'].apply(kali_sejuta)

In [69]:
df['pop']

0    1
1    4
2    6
3    8
Name: pop, dtype: int64

In [1]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is 4806-0654

 Directory of C:\Users\LENOVO\Python Data Science\sanbercode 092020

10/06/2020  07:20 PM    <DIR>          .
10/06/2020  07:20 PM    <DIR>          ..
10/06/2020  06:43 PM    <DIR>          .ipynb_checkpoints
10/06/2020  06:57 PM             1,201 Live Session 7.ipynb
09/30/2020  09:04 PM            11,281 Logic Control flow and Loop.ipynb
10/05/2020  10:04 PM            30,456 Numpy Pandas.ipynb
05/08/2020  09:32 PM            24,045 pima indians dataset.csv
10/01/2020  09:22 PM            23,086 Python List dan Dictionary.ipynb
10/06/2020  07:19 PM           896,575 sales_subset.csv
10/03/2020  01:54 PM           117,956 Statistik.ipynb
09/28/2020  09:16 PM             3,983 Tugas Hari 1 (1).ipynb
09/29/2020  09:31 PM             5,466 Tugas Hari 2.ipynb
10/01/2020  09:54 PM            11,269 Tugas Hari 3.ipynb
10/01/2020  07:39 PM            13,653 Tugas Hari 4.ipynb
10/05/2020  08:46 PM            29,634 Tugas Hari 5.ipynb
09/29/2020  09:17 PM             3,229 Untitled.ipynb
              13 File(s)      1,171,834 bytes
               3 Dir(s)  63,579,590,656 bytes free

In [4]:
import pandas as pd