## Bagian 1 (Pandas Series)

In [1]:
# Pandas Series --> objek 1 dimensi
import pandas as pd

In [2]:
obj_series = pd.Series([95, 80, 90, 70], index={'a', 'b', 'c', 'd'})

In [3]:
obj_series # a = index 0, b = index 1, dst

a    95
b    80
d    90
c    70
dtype: int64

In [4]:
obj_series['c']

70

In [5]:
# cara cek apakah suatu index ada pada objek series atau tidak
'a' in obj_series

True

In [6]:
'e' in obj_series

False

In [7]:
obj_series.keys()

Index(['a', 'b', 'd', 'c'], dtype='object')

In [8]:
obj_series.items()

In [9]:
list(obj_series.items())

[('a', 95), ('b', 80), ('d', 90), ('c', 70)]

In [11]:
obj_series['a':'d']

a    95
b    80
d    90
dtype: int64

In [13]:
idx_ambil = ['a', 'b', 'd']
obj_series[idx_ambil]

a    95
b    80
d    90
dtype: int64

In [16]:
# iloc --> ambil data berdasarkan index integer (implisit)
# loc --> ambil data berdasarkan index label (eksplisit)
obj_series.iloc[1:4]

b    80
d    90
c    70
dtype: int64

In [18]:
# loc
obj_series.loc['a':'d']

a    95
b    80
d    90
dtype: int64

## Bagian 2 (Pandas DataFrame)

In [19]:
# obj dataframe --> objek 2 dimensi
matematika = pd.Series({'otong':80, 'dinda':90, 'mamat':100})
fisika = pd.Series({'otong':90, 'dinda':70, 'mamat':100})
biologi = pd.Series({'otong':100, 'dinda':60, 'mamat':900})

In [21]:
df = pd.DataFrame({'matematika': matematika, 'fisika': fisika, 'biologi': biologi})

In [22]:
df.head()

       matematika  fisika  biologi
otong          80      90      100
dinda          90      70       60
mamat         100     100      900

In [25]:
type(df)

pandas.core.frame.DataFrame

In [23]:
# ambil data pada dataframe menjadi objek series
df['matematika']

otong     80
dinda     90
mamat    100
Name: matematika, dtype: int64

In [24]:
type(df['matematika'])

pandas.core.series.Series

In [26]:
df.matematika

otong     80
dinda     90
mamat    100
Name: matematika, dtype: int64

In [27]:
# jika ingin ambil data pada dataframe namun tetap menjadikannya dataframe
df[['matematika']]

       matematika
otong          80
dinda          90
mamat         100

In [28]:
type(df[['matematika']])

pandas.core.frame.DataFrame

In [29]:
# ambil multiple kolom
list_ambil = ['matematika', 'biologi']
df[list_ambil]

       matematika  biologi
otong          80      100
dinda          90       60
mamat         100      900

In [ ]:
# loc (label)
# iloc (integer)

In [32]:
# iloc --> integer
# df.iloc[idx_row_start:idx_row_end, col_start:col_end]
df.iloc[0:2, 1:3]

       fisika  biologi
otong      90      100
dinda      70       60

In [34]:
# iloc
row_list = [0, 2] # kita mau ambil idx dari otong dan mamat
col_list = [0, 2]
df.iloc[row_list, col_list]

       matematika  biologi
otong          80      100
mamat         100      900

In [35]:
# loc --> dengan label
df.loc['otong':'mamat', 'fisika':'biologi']

       fisika  biologi
otong      90      100
dinda      70       60
mamat     100      900

In [36]:
# loc
row_list = ['otong', 'mamat'] # kita mau ambil label dari otong dan mamat
col_list = ['matematika', 'biologi']
df.loc[row_list, col_list]

       matematika  biologi
otong          80      100
mamat         100      900