- Grouping Data
- Aggregation/Reduction
- Group by data dengan multilevel index

In [1]:
import pandas as pd

In [9]:
penjualan = {
    'Hari' : ['Hari-1']*6 + ['Hari-2']*6,
    'toko': ['Bandung', 'Garut', 'Jakarta', 'Garut', 'Bandung', 'Jakarta', 'Bandung', 'Garut', 'Jakarta', 'Garut', 'Bandung', 'Jakarta'],
    'Barang': ['Telur', 'Telur', 'Telur', 'Minyak', 'Minyak', 'Minyak', 'Telur', 'Telur', 'Telur', 'Minyak', 'Minyak', 'Minyak'],
    'Pendapatan_Kotor': [200000, 300000, 150000, 100000, 120000, 400000, 240000, 320000, 200000, 300000, 150000, 200000],
    'Pendapatan_Bersih': [80000, 100000, 50000, 50000, 50000, 200000, 120000, 150000, 120000, 100000, 110000, 90000]
}

In [10]:
df = pd.DataFrame(penjualan)

In [11]:
df

      Hari     toko  Barang  Pendapatan_Kotor  Pendapatan_Bersih
0   Hari-1  Bandung   Telur            200000              80000
1   Hari-1    Garut   Telur            300000             100000
2   Hari-1  Jakarta   Telur            150000              50000
3   Hari-1    Garut  Minyak            100000              50000
4   Hari-1  Bandung  Minyak            120000              50000
5   Hari-1  Jakarta  Minyak            400000             200000
6   Hari-2  Bandung   Telur            240000             120000
7   Hari-2    Garut   Telur            320000             150000
8   Hari-2  Jakarta   Telur            200000             120000
9   Hari-2    Garut  Minyak            300000             100000
10  Hari-2  Bandung  Minyak            150000             110000
11  Hari-2  Jakarta  Minyak            200000              90000

In [12]:
# Kita ingin mengetahui pendapatan kotor dan bersih berdasarkan hari
df.groupby('Hari') # setelah ditentukan index/label yang akan digroupby, selanjutnya kita harus tentukan fungsi aggregasi/reduksi apa yang ingin dilakukan

In [13]:
# fungsi aggregasi/reduksi --> suatu proses menghubungkan data, sehingga didapatkan suatu data yang dimana suatu data tersebut adalah summary dari data-data yang digabungkan tersebut.
# contoh fungsi aggregasi dari pandas:
# sum, std, min, max
df.groupby('Hari').sum()

        Pendapatan_Kotor  Pendapatan_Bersih
Hari
Hari-1           1270000             530000
Hari-2           1410000             690000

In [14]:
df.groupby(['Hari', 'toko'])

In [15]:
# kita akan melakukan groupby berdasarkan 2 label/column, yaitu hari dan toko
df.groupby(['Hari', 'toko']).sum()

                Pendapatan_Kotor  Pendapatan_Bersih
Hari   toko
Hari-1 Bandung            320000             130000
       Garut              400000             150000
       Jakarta            550000             250000
Hari-2 Bandung            390000             230000
       Garut              620000             250000
       Jakarta            400000             210000