**_Grouping_** adalah suatu teknik memisahkan data berdasarkan kriteria tertentu. untuk melakukan grouping di pandas kita menggunakan suatu method yang bernama **groupby()**. definisi abstraknya dari grouping adalah kita melakukan mapping suatu data terhadap suatu group.

ketika melakukan grouping ada beberapa proses yang terjadi secara berurutan, yaitu :

1. **Splitting** : Memisahkan data kedalam suatu group berdasarkan kriteria tertentu.
2. **Applying** : Melakukan suatu operasi terhadap sekumpulan data di group-group tersebut.
3. **Combining** : Menggabungkan data menjadi suatu struktur baru

In [1]:
# contoh pengaplikasiannya
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame([
    ('bird', 'Falconiformes', 389.0),
    ('bird', 'Psittaciformes', 24.0),
    ('mammal', 'Carnivora', 80.2),
    ('mammal', 'Primates', np.nan),
    ('mammal', 'Carnivora', 58)],
    index=['falcon', 'parrot', 'lion', 'monkey', 'leopard'],
    columns=('class', 'order', 'max_speed')
)

In [3]:
df

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [7]:
# kita akan mencoba melakukan groupping data dengan method groupby berdasarkan class
df.groupby('class')

In [21]:
df.groupby('class').mean()

        max_speed
class
bird        206.5
mammal       69.1

In [20]:
# jika tidak terdapat column yang bernilai numerik, maka proses groupby tidak akan berjalan sempurna
# karena proses aggregasi tidak bisa dilakukan dikarenakan tidak adanya nilai numerik dari suatu column data
df.drop(columns='max_speed').groupby('class').mean()

DataError: No numeric types to aggregate